<div class="container">
    <h1>Stay Organized</h1>
</div>
<br>

<div class="container">
<form action="/" method="POST">
<input type="text" name="title">
<br>
<input class="btn" type="submit" value="Submit">
<input class="btn" type="reset" value="Reset">
</form>
</div>

<br>

<div class="container">
    <h3>To Do:</h3>
</div>

<div class="ul-container">

{{#each todos}}
    <div class="ul-item">
        <input type="checkbox" name="Complete" id="">
        <a href="/{{id}}">
        {{title}}:
        {{isdone}} 
        </a>
        <a href="/{{id}}/edit">
            <input class="edit-button btn" type="button" value="Edit">
        </a>

        <form class="delete-form" action="/{{id}}/delete" method="POST">
            {{!-- <a href="//delete"> --}}
                <input class="delete-button btn" type="submit" value="Delete">
            {{!-- </a> --}}
        </form>
    </div>
{{/each}}
</div>